* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* colors here */
    --primary-pale-blue: hsl(225, 100%, 94%);
    --primary-bright-blue: hsl(245, 75%, 52%);
    --neutral-very-pale-blue: hsl(225, 100%, 98%);
    --neutral-desaturated-blue: hsl(224, 23%, 55%);
    --neutral-dark-blue: hsl(223, 47%, 23%);
}

html {
    font-size: 16px;
}

body {
    font-family: 'Red Hat Display', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container {
    display: grid;
    place-content: center;
    background-color: var(--very-dark-blue);
    height: 100vh;
}

.card {
    width: 100%;
    max-width: 330px;
    background-color: var(--dark-blue);
    border-radius: 1.5rem;
    padding: 1.6rem;
}





    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
