* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* colors here */
    --primary-pale-blue: hsl(225, 100%, 94%);
    --primary-bright-blue: hsl(245, 75%, 52%);
    --primary-button-link-hover: hsl(245, 83%, 68%);
    --neutral-very-pale-blue: hsl(225, 100%, 98%);
    --neutral-desaturated-blue: hsl(224, 23%, 55%);
    --neutral-dark-blue: hsl(223, 47%, 23%);
    --white: hsl(0, 0%, 100%);
}

html {
    font-size: 16px;
}

body {
    font-family: 'Red Hat Display', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container {
    display: grid;
    place-content: center;
    background-color: var(--primary-pale-blue);
    height: 100vh;
}

.card {
    width: 100%;
    max-width: 325px;
    background-color: var(--white);
    border-radius: 1rem;
}

.content {
    display: flex;
    flex-direction: column;
    row-gap: 1.2rem;
    align-items: center;
}

img {
    width: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    margin-bottom: .8rem;
}

h1 {
    font-size: 1.3rem;
    font-weight: 900;
}

h1,
p {
    width: calc(100% - 5rem);
    line-height: 1.5rem;
    text-align: center;
}

p,
a,
button {
    font-size: .9rem;
}

p {
    color: var(--neutral-desaturated-blue);
}

.trio {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 1rem;
    justify-items: center;
    margin: .3rem 1.5rem;
    background-color: var(--neutral-very-pale-blue);
    border-radius: .7rem;
}

.trio>* {
    margin: 0;
    padding: .9rem;
    align-self: center;
}

.trio>p {
    width: unset;
    padding-left: 0;
}

.trio>a {
    font-size: .8rem;
}

.trio>a:hover {
    color: var(--primary-button-link-hover);
}

p>span,
a {
    font-weight: 700;
    color: var(--neutral-dark-blue);
}

button {
    width: calc(100% - 3rem);
    margin: 0 1.5rem;
    padding: .9rem 0;
    border: none;
    border-radius: .7rem;
    color: var(--white);
    background-color: var(--primary-bright-blue);
    font-weight: 700;
    box-shadow: 0px 15px 30px 5px hsla(245, 75%, 52%, .3);
    cursor: pointer;
}

button:hover {
    background-color: var(--primary-button-link-hover);
}

.content>a {
    margin: .5rem 0 1.8rem 0;
    text-decoration: none;
    color: var(--neutral-desaturated-blue);
}

.content>a:hover {
    color: var(--neutral-dark-blue);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}